<div id="footer" class="py-3">
  <div class="container d-flex justify-content-between">
    <%= link_to '#' do %>
      <%= image_tag 'logo.png', alt: "TranstalentsTH", width: "80vh" %>
    <% end %>
    <div>
      <h6>Get in Touch</h6>
    </div>
    <div>
      <h6>Service</h6>
      <p><%= link_to "Consult", "#",class: 'text-decoration-none text-white' %></p>
      <p><%= link_to "Training", "#",class: 'text-decoration-none text-white' %></p>
      <p><%= link_to "Speaker", "#",class: 'text-decoration-none text-white' %></p>

    </div>
    <div>
      <h6>Company</h6>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <%= link_to "https://www.facebook.com/TransTalents",
          target: '_blank', class: "text-white me-2" do %>
          <i class="fab fa-facebook facebook-icon"></i>
        <% end %>
      </div>
      <div>
        <%= link_to "https://www.linkedin.com/in/nikki-phinyapincha/",
          target: '_blank', class: "text-dark" do %>
          <i class="fa-brands fa-linkedin-in linked-in-icon p-1"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
