<nav class="navbar navbar-expand-lg navbar-dark bg-purple p-3">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', alt: "TranstalentsTH", width: "80vh" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item active">
          <%= link_to "About Us", '#' ,class: 'nav-link mx-2 text-white'%>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 text-white dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our Services
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <%= link_to "Consult", "#", class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Training", "#", class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Speakers", "#", class: "dropdown-item" %>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to "News & Events", "#", class: 'nav-link mx-2 text-white' %>
        </li>
        <li class="nav-item">
          <%= link_to "Blog", blog_posts_path, class: 'nav-link mx-2 text-white' %>
        </li>
        <li class="nav-item">
          <%= link_to "Get in Touch", '#contact', class: 'nav-link mx-2 mt-1 text-white', id: 'btn-get-in-touch' %>
        </li>

        <% if user_signed_in?  && current_user.admin?%>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
            </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Action", "#", class: "dropdown-item" %>
                <%= link_to "Admin Panel", '/admin' , class: "dropdown-item", target: "_blank" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
          </li>
        <% elsif user_signed_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
            </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Action", "#", class: "dropdown-item" %>
                <%= link_to "another action", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
          </li>
        <% else %>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
