<div id="service" class="text-center p-5">
  <div class="container">
    <h1>Our Services</h1>
    <div class="row justify-content-center mt-5">
      <div class="card py-4 col-lg-3 col-md-6 col-sm-12 me-lg-3 me-md-2 mb-3 mb-lg-0">
        <div class="">
          <%= cl_image_tag("https://res.cloudinary.com/dzaswsutb/image/upload/v1692271060/contact_Vector_vnlfc4.png",
            width: "25%",) %>
        </div>
        <div class="card-body mt-3">
          <h2 class="card-title mb-3">Consult</h2>
          <p class="card-text mt-4 mb-5">Foster inclusive workplace, empower careers, LGBTQIA+ marketing, and network strategy for holistic organizational growth and success.</p>
          <%= render 'shared/see_more_button' %>
        </div>
      </div>

      <div class="card py-4 col-lg-3 col-md-6 col-sm-12 me-lg-3 me-md-2 mb-3 mb-lg-0">
        <div class="">
          <%= cl_image_tag("https://res.cloudinary.com/dzaswsutb/image/upload/v1692271060/training_Vector_y8fi4z.png",
            width: "25%",) %>
        </div>
        <div class="card-body mt-3">
          <h2 class="card-title mb-3">Training</h2>
          <p class="card-text mt-4 mb-5">Foster inclusive workplace, empower careers, LGBTQIA+ marketing, and network strategy for holistic organizational growth and success..</p>
          <%= render 'shared/see_more_button' %>
        </div>
      </div>

      <div class="card py-4 col-lg-3 col-md-6 col-sm-12 me-md-2">
        <div class="">
          <%= cl_image_tag("https://res.cloudinary.com/dzaswsutb/image/upload/v1692271060/speaker_Vector_x1dfbi.png",
            width: "30%",) %>
        </div>
        <div class="card-body mt-3">
          <h2 class="card-title mb-3">Speaker</h2>
          <p class="card-text mt-4 mb-5">Foster inclusive workplace, empower careers, LGBTQIA+ marketing, and network strategy for holistic organizational growth and success.</p>
          <%= render 'shared/see_more_button' %>
        </div>
      </div>

    </div>
  </div>
</div>
