<div class="gray-bg">
  <div class="container py-2">
    <div class="row align-items-center text-center">
      <div class="col-md-2 col-4">
        <%#= image_tag 'exxon.png', alt: 'Exxon', class: 'img-fluid' %>
        <%= image_tag("https://res.cloudinary.com/dyd8jsfjs/image/upload/v1694609554/San-Diego-Pride-Logo-gray_mtpivv.png",
            alt: 'San Diego Pride Logo', class: 'img-fluid', width: '60vw', height: 'auto') %>
      </div>
      <div class="col-md-2 col-4">
        <%#= image_tag 'IBM.png', alt: 'IBM', class: 'img-fluid' %>
        <%= image_tag("https://res.cloudinary.com/dyd8jsfjs/image/upload/v1694609553/IBM_gray_tyogon.png",
          alt: 'IBM Logo', class: 'img-fluid', width: '90vw', height: 'auto') %>
      </div>
      <div class="col-md-2 col-4">
        <%#= image_tag 'Marriot.png', alt: 'Marriott', class: 'img-fluid' %>
        <%= image_tag("https://res.cloudinary.com/dyd8jsfjs/image/upload/v1694609554/PepsiCo-Logo_gray_krdak9.png",
          alt: 'Pepsico Logo', class: 'img-fluid', width: '120vw', height: 'auto') %>
      </div>
      <div class="col-md-2 col-4">
        <%#= image_tag 'foodpanda.png', alt: 'Foodpanda', class: 'img-fluid' %>
        <%= image_tag("https://res.cloudinary.com/dyd8jsfjs/image/upload/v1694609554/Sasin_gray_r216wk.png",
            alt: 'Sasin Logo', class: 'img-fluid', width: '120vw', height: 'auto') %>
      </div>
      <div class="col-md-2 col-4">
        <%#= image_tag 'UN_woman.png', alt: 'UN Woman', class: 'img-fluid' %>
        <%= image_tag("https://res.cloudinary.com/dyd8jsfjs/image/upload/v1694609554/WMG_Logo_Gray_zhju0m.png",
            alt: 'Warner Music Group',class: 'img-fluid', width: '90vw', height: 'auto') %>
      </div>
      <div class="col-md-2 col-4">
        <%#= image_tag 'transcareer.png', alt: 'transcareer', class: 'img-fluid' %>
        <%= image_tag("https://res.cloudinary.com/dyd8jsfjs/image/upload/v1694609553/Mygwork_logo_2022_gray_qmnsp2.png",
            alt: 'myGwork', class: 'img-fluid' , width: '60vw', height: 'auto') %>
      </div>
    </div>
  </div>
</div>

<div id="counter" class="py-2" data-controller="counter">
  <div class="container counter pt-4 d-flex justify-content-center">
    <div class="" style="margin-right: 60px">
      <h1><span data-counter-target="value" data-target-number="150">0</span>K</h1>
      <p>Audiences</p>
    </div>
    <div class="" style="margin-right: 40px">
      <h1><span data-counter-target="value" data-target-number="22">0</span>+</h1>
      <p>Projects</p>
    </div>
    <div>
      <h1><span data-counter-target="value" data-target-number="5">0</span></h1>
      <p>Countries</p>
    </div>
  </div>
</div>
